$main-color: #766A69;
$sub-color: #9B908E;
$gray: #E5E5E5;


@mixin button(){
    outline: none;
    border: none;
    background: $main-color;
    color: $gray;
    border-radius: 5rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 2px 0;

    &:hover {
        background: #333;
    }
}

@mixin heading() {
    font-size: 4rem;
    margin: 4rem 0;
    color: $main-color;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -1rem; left: 50%;
        transform: translateX(-50%);
        background: $main-color;
        height: .4rem;
        width: 80%;
    }
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: 'Anek Latin', sans-serif;
    font-family: 'Roboto', sans-serif;
    transition: all .2s linear;
    p {
        font-size: 2rem;
    }
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

//header

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 4rem;
    position: fixed;
    top:0; left:0;
    background: $sub-color;
    z-index: 2;

    nav {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                margin-right: 3rem;

                a{
                    text-decoration: none;
                    color: $gray;
                    font-size: 2rem;
                    padding: .5rem 2.5rem;
                    border-radius: 5rem;

                    &:hover {
                        background: $main-color;
                    }
                }
            }
        }
        .fa-bars {
            font-size: 3.5rem;
            color: $gray;
            cursor: pointer;
            z-index: 10 none;
            display: none;
        }
    }
    .logo {
        text-decoration: none;

        h1 {
            font-size: 4rem;
            font-family:'Lobster', sans-serif;
            color: #fff;
        }
    }
} 

//home

#home {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 6rem;
    background: $sub-color;

    .image {
        img {
            width: 500px;
        }
    }

    .content{
        h1 {
            font-size: 5rem;
            font-weight: normal;
            color:$gray;

            span {
                color:#fff;
                font-family: 'Lobster', sans-serif;
            }
        }

        button {
            @include button ();
            height: 4rem;
            width: 14rem;
        }

        .icons {
            margin: 2rem 0;

            a{
                text-decoration: none;
                font-size: 3rem;
                margin: 0 1rem;
                color: $gray;

                &:hover {
                    color:$main-color;
                }
            }
        }
    }
}


//sobre 
#about {
    display: grid;
    place-items: center;
    width: 100vw;
    min-height: 100vh;

    h1 {
        @include heading();
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        .image {
            img {
                width: 30vw;
            }
        }
        .content {
            width: 50vw;

            h3 {
                font-size: 4rem;
                color: $sub-color;
            }
            
            p {
                margin: 1rem 0;
                color:#333;
            }

            button {
                @include button();
                height: 4rem;
                width: 24rem;
            }
        }
    }

}

//skills
#skill {
    display: grid;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
    background: $gray;

    h1 {
        @include heading();
    }

    .wrapper {
        display: flex;
        justify-content: space-around;
        width: 90%;

        .image {
            width: 35vw;

            p {
                margin: 2rem 0;
            }

            img {
                width: 30vw;
            }
        }
    }

    .my-progress {
        width: 45vw;

        h3 {
            font-size: 3rem;
            color: $main-color;
        }

        .line {
            height: 1rem;
            width: 90%;
            background: $sub-color;
            margin: 2rem 0;

            .fill {
                height: 100%;
                width: 100%;
                background: #333;
                display: block;
            }
        }
        .line1 .fill {
            width: 75%;
        }
        .line2 .fill {
            width: 40%;
        }
        .line3 .fill {
            width: 35%;
        }
    }
}

//contato

#contact {
    display: grid;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
    background: url(./imagens/envelope.webp) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    h1 {
        @include heading();
        color: #333;

        &::after {
            background:#333;
        }
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;

        .info {
            width: 20%;

            .item {
                margin: 4rem 0;

                h2 {
                    font-size: 3rem;
                    color: #333;
                    margin: 1rem 0;

                    i {
                        color: #766A69;
                        padding: 0 .5rem;
                    }
                }
                p {
                    color: #333;
                    padding: 4rem;

                }
            }
        }
    }
    
}
    



.fa-times {
    transform: rotateZ(180deg);
}

//media

@media (max-width:991px) {
    html {
        font-size: 45%;
    }

    header {
        .fa-bars {
            display: block;
        }

        nav {
            position: fixed;
            top:0; left:-100%;
            height: 100vh;
            width: 35rem;
            background: $sub-color;
            box-shadow: .2rem 0 .5rem #333;

            ul {
                height: 100%;
                flex-flow: column;
                justify-content: center;

                li {
                    margin: 2rem 0;

                    a {
                        font-size: 4rem;
                    }
                }

            }

        }

        #about {
            .wrapper {
                flex-flow: column;

                .image {
                    img {
                        width: 60vw;
                    }
                }

                .content {
                    width: 90vw;
                    text-align: center;
                    margin-top: 2rem;
                }
            }
        }

    }

        .nav-toggle {
            left: 0%;
        }
}
@media (max-width: 768px) {
    #home {
        flex-flow: column-reverse;
        padding: 0;
            
        .content {
            text-align: center;
        }

        .image {
            img {
                width: 100vw;
            }

        }
    }

    #skill {
        flex-flow: column;

        .image {
            width: 100%;

            p {
                text-align: center;              
            }

            img {
                width: 90vw;
            }

        }
    }

    .my-progress {
        margin: 3rem 0;
        width: 100%;

        .line {
            width: 100%;
        }

    }
}
    



